@media (max-width: 414px) {
    /*NAVBAR*/
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .web-title {
      margin-left: 10px;
    }
    .list {
      display: none;
    }
    .menu-bar {
      display: block;
      margin-right: 20px;
      border: 1px solid gray;
      padding: 10px 15px;
      border-radius: 5px;
    }
  }
  /*PRODUCTION*/
  #production{
    .img{
        .img-box{
            margin: 0 50px;
            br{
                display: none;
            }
            .product-title{
                h1{
                    font-size: 40px;
                }
            }
        }
    }
  }
}
