@media(max-width:414px){
    .links{
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        h1{
            margin-left: 20px;
        }
        .menu_icon{
            display: block;
            border: 1px solid white;
            padding: 5px;
            margin-right: 20px;
        }
    }
    #about{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        text-align: center;
        button{
            margin-left: 20px;
        }
    }
    #content{
        .person1{
            display: flex;
            flex-direction: column;
        }
    }
}
