body{
    margin: 15px;
}
.box{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all;
    transition-duration: 1s;
}
.box:hover img{
    transform: scale(2);
}
.pic{
    overflow: hidden;
}
button{
    border-radius: 10px;
    margin-top: 25px;
}
img{
    width: 100%;
    position: relative;
    transition: 1s ease;
    border-radius: 10px 10px 0 0;
}
.box:hover{
    box-shadow: 1px 1px;
}