#production{
    .img{
        font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: white;
        width: 100%;
        height: 600px;
        // background-color: gray;
        background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-box{
            display: flex;
            flex-direction: column;
            gap: 25px;
            justify-content: center;
            align-items: center;
            // margin: 0 400px;    background-color: orangered;
            text-align: center;
            .product-title{
                h1{
                    font-size: 50px;
                    
                }
            }
            p{
                color: burlywood;
            }

            .btn{
                button{
                    color: white;
                    background-color: orangered;
                    border: none;
                    border-radius: 50px;
                    padding: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}
#need{
    background-color: orangered;
    .need-box{
        margin: 0 auto;
        max-width: 600px;
    }
    .need-text{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        // padding: 0 400px;
        margin: 0 auto;
        text-align: center;
        gap: 20px;
        .need-title{
            h1{
                font-size: 50px;
            }
        }
        hr{
            width: 25%;
        }
        .btn{
            button{
                background-color: white;
                border: none;
                border-radius: 30px;
                padding: 20px;
                font-size: 15px;
            }
        }
    }
}
/*Service*/
#service{
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .service-box{
        display: flex;
        flex-direction: column;
        gap: 70px;
        text-align: center;
        .service-title{
            h1{
                font-size: 40px;
            }
        }
        .service-icons{
            display: flex;
            gap: 100px;
            .server-icon{
                i{
                    color: orangered;
                    font-size: 30px;
                }
                p{
                    color: rgb(97, 93, 93);
                }
            }
        }
    }
}
/*PICS*/
#pics{
    .pic{
        display: grid;
        grid-template-columns: auto auto auto;
        img{
            width: 449px;
            height: 255px;
        }
    }
}
/*DOWNLOAD*/
#download{
    height: 400px;
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .download-box{
        text-align: center;
        button{
            font-weight: bold;
            border: none;
            padding: 15px;
            border-radius: 30px;
            background-color: white;
            transition: 1s background-color;
            &:hover{
                background-color: gray;
            }
        }
    }
}
/*REGISTRATION*/
#registration{
    height: 600px;
    display: flex;
    align-items: center;
    .container{
        .registr-box{
            text-align: center;
            .registr-title{
                text-align: center;
            }
            form{
                margin: 0 auto;
                max-width: 500px;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
                input::placeholder{
                    color: black;
                }
                button{
                    border-radius: 20px;
                    background-color: orangered !important;
                    color: white;
                    opacity: 0.5;
                    padding: 10px;
                }
            }
            .phone-number{
                margin-top: 50px;
            }
        }
    }
}