*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    .web-title{
        a{
            text-decoration: none;
            font-size: 30px;
            // margin-left: 50px;
            color: black;
            font-weight: bold;
        }
    
    }
    .list{
        margin-right: 50px;
        ul{
            display: flex;
            gap: 20px;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    .menu-bar{
        display: none;
    }
}