*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .container{
        width: 75%;
        height: 90%;
        // border: 1px solid black;
        box-shadow: 2px 2px 2px black;
        display: flex;
    }
}